.header {
    background-color:$color-primary;
    padding: 30px 88px;
    h1 a {
        @include text-hide {
            background-image: url(/assets/images/logo.png);
            background-size: cover;
            width: 80px;
            height: 49px;
        }
    }
    @include pad {
        padding: 30px 40px;
    }
    @include mobile {
        padding: 0;
        flex-direction: column;
        align-items: center;
        h1 a {
            width: 48px;
            height: 30px;
            margin: 10px auto;
        }
    }
}



.menu {
    li a {
        padding: 0 32px;
        color: $color-white;
        font-size: $font-size-m;
        &:hover {
        font-weight: bold;
        } 
    }
    @include mobile {
        li{
            width: 50%;
            border: 1px solid #fff;
        }
        li a {
            padding: 8px 54px;
            &:hover {
                background-color: #fff;
                color:$color-primary ;
            }
        }   
    }
}


.footer {
    background-color: $color-primary;
}