@charset "UTF-8";
/*color*/
/*font*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*全域設定*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none; }

.container {
  width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      width: 720px; } }
  @media (max-width: 767px) {
    .container {
      width: 390px; } }

/*通用類別*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.font-bold-1 {
  font-weight: bold; }

.font-bold-2 {
  font-weight: 900; }

.font-i {
  font-style: italic; }

.text-center {
  text-align: center; }

/*間距*/
.mt-1 {
  margin-top: 8px; }

.mt-2 {
  margin-top: 16px; }

.mt-3 {
  margin-top: 24px; }

.mt-4 {
  margin-top: 32px; }

.mt-5 {
  margin-top: 40px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-5 {
  margin-bottom: 40px; }

.ml-4 {
  margin-left: 32px; }

.mr-1 {
  margin-right: 8px; }

.mr-4 {
  margin-right: 32px; }

.mr-6 {
  margin-right: 48px; }

.p-pc-style {
  padding: 60px 0 80px 0; }

/*標題*/
.h2 {
  font-size: 48px;
  color: #650300;
  font-weight: bold; }

.h2-light {
  font-size: 48px;
  color: #fff;
  font-weight: bold; }

.h2-dark {
  font-size: 48px;
  color: #000;
  font-weight: bold; }

.h3 {
  font-size: 24px;
  color: #650300;
  font-weight: bold; }

/*header*/
.header {
  background-color: #AA0601;
  padding: 30px 88px; }
  .header h1 a {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/logo.png);
    background-size: cover;
    width: 80px;
    height: 49px; }
  @media (max-width: 992px) {
    .header {
      padding: 30px 40px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header h1 a {
        width: 48px;
        height: 30px;
        margin: 10px auto; } }

.menu li a {
  padding: 0 32px;
  color: #fff;
  font-size: 20px; }
  .menu li a:hover {
    font-weight: bold; }

@media (max-width: 767px) {
  .menu li {
    width: 50%;
    border: 1px solid #fff; }
  .menu li a {
    padding: 8px 54px; }
    .menu li a:hover {
      background-color: #fff;
      color: #AA0601; } }

/*footer*/
.footer {
  background-color: #AA0601;
  padding: 32px 0 40px; }
  .footer-content {
    width: 60%; }
  .footer-menu li {
    max-width: 64px; }
    .footer-menu li a {
      color: #fff; }
      .footer-menu li a:hover {
        font-weight: bold; }
  .footer-list li a {
    color: #fff;
    font-size: 36px; }
    .footer-list li a:hover {
      font-weight: bold; }
  .footer-list-icon {
    max-width: 48px;
    margin-right: 22px; }
  .footer-icons li a {
    color: #fff;
    font-size: 48px; }
    .footer-icons li a:hover {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px); }

.hr {
  border: 1px solid #fff; }

.copyright {
  color: #fff; }
  .copyright-list li a {
    color: #fff;
    font-size: 14px; }

@media (max-width: 992px) {
  .footer {
    padding: 32px 39px; }
    .footer-list :nth-child(2) {
      margin-top: 12px; }
    .footer-list li a {
      font-size: 20px; }
    .footer-list-icon {
      max-width: 30px; }
    .footer-icons li a {
      font-size: 24px; }
    .footer-content {
      width: 75%; }
    .footer-icons {
      width: 25%; }
  .fa-facebook, .fa-instagram {
    margin-right: 24px; }
  .copyright p {
    margin-top: 24px; }
  .copyright-list {
    margin-top: 36px; } }

@media (max-width: 767px) {
  .footer {
    padding: 24px 0; }
    .footer-menu {
      display: none; }
    .footer-list :nth-child(2) {
      margin-top: 6px; }
    .footer-list li a {
      font-size: 16px; }
    .footer-list-icon {
      max-width: 21px; }
  .copyright p {
    width: 100%;
    font-size: 14px;
    margin-top: 16px; }
  .copyright-list {
    margin-top: 0; }
  .copyright-list li {
    width: 100%;
    margin-top: 8px; } }

/*banner*/
.banner {
  background-image: url(../images/banner.png);
  height: 840px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner-main {
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .banner-content {
    text-align: right; }
    .banner-content p {
      color: #650300;
      font-size: 36px; }
    .banner-content h4 {
      color: #650300;
      font-size: 64px; }
  @media (max-width: 992px) {
    .banner-content p {
      font-size: 20px; }
    .banner-content h4 {
      font-size: 48px; } }
  @media (max-width: 767px) {
    .banner {
      height: 394px; }
    .banner-content p {
      font-size: 16px; }
    .banner-content h4 {
      font-size: 32px;
      line-height: 1.4; } }

/*service*/
.service {
  background-color: #AA06010D; }
  .service-list li {
    width: 255px; }
  .service-icon {
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    margin: 0 auto; }
  .service p {
    text-align: left; }
  @media (max-width: 992px) {
    .service {
      padding: 40px 0 56px 0; }
      .service-title {
        font-size: 32px;
        margin-bottom: 0; }
      .service-list {
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .service-list li {
          margin-top: 32px; } }
  @media (max-width: 767px) {
    .service {
      padding: 32px 0 40px; }
      .service-title {
        font-size: 24px; }
      .service-list {
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline; }
        .service-list li :first-child {
          margin-top: 20px; } }

/*classic*/
.classic img {
  max-width: 635px; }

.classic-block h4 {
  font-size: 48px;
  color: #AA0601; }

@media (max-width: 992px) {
  .classic {
    padding: 40px 40px 56px; }
    .classic-title {
      font-size: 32px;
      margin-bottom: 0; }
    .classic-list li {
      margin-top: 8px; }
    .classic-list li:first-child {
      margin-top: 32px; }
    .classic-reverse-setting {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-right: 0; }
    .classic img {
      width: 390px; }
    .classic-block {
      margin-left: 30px; }
      .classic-block h4 {
        font-size: 28px; } }

@media (max-width: 767px) {
  .classic {
    padding: 32px 0 40px 0; }
    .classic-title {
      font-size: 20px; }
    .classic-list li {
      position: relative; }
      .classic-list li:first-child {
        margin-top: 20px; }
    .classic-block {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(12%); }
    .classic img {
      width: 345px; } }

.fa-star, .fa-sun, .fa-bolt {
  font-size: 44px; }
  @media (max-width: 992px) {
    .fa-star, .fa-sun, .fa-bolt {
      font-size: 40px; } }

/*co-brand*/
.co-brand {
  background-image: url(../images/bg.png);
  height: 705px;
  background-position: center center; }
  .co-brand-list li {
    position: relative;
    background-color: #fff; }
  .co-brand-list img {
    width: 540px;
    opacity: 0.5; }
  .co-brand-block {
    position: absolute;
    top: calc(40% - 10px);
    left: calc(25%); }
    .co-brand-block h4 {
      color: #AA0601;
      font-size: 72px; }
  @media (max-width: 992px) {
    .co-brand {
      padding: 40px 0 56px;
      height: 452px; }
      .co-brand-title {
        font-size: 32px;
        margin-bottom: 32px; }
      .co-brand-list img {
        width: 330px; }
      .co-brand-block {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(30%); }
        .co-brand-block h4 {
          font-size: 32px;
          line-height: 1.3; } }
  @media (max-width: 767px) {
    .co-brand {
      padding: 32px 0 40px 0;
      height: auto; }
      .co-brand-title {
        font-size: 20px; }
      .co-brand-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .co-brand-list img {
          width: 100%; }
        .co-brand-list li {
          margin-top: 16px; }
          .co-brand-list li:first-child {
            margin-top: 20px; } }

/*recommend*/
.recommend li {
  width: 23%;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6; }

.recommend-card-header img {
  width: 100%; }

.recommend-card-body {
  height: 204px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px; }

.recommend .customer-block {
  color: #212529; }

.recommend .card-date {
  color: #707070; }

@media (max-width: 992px) {
  .recommend {
    padding: 40px 0 56px; } }

.recommend-title {
  margin-bottom: 0;
  font-size: 32px; }

.recommend-list li {
  width: 48%;
  margin-top: 32px; }

@media (max-width: 767px) {
  .recommend {
    padding: 32px 0 40px; }
    .recommend-title {
      font-size: 20px; }
    .recommend-list li {
      width: 100%;
      margin-top: 16px; }
      .recommend-list li:first-child {
        margin-top: 20px; } }

/*contact*/
.contact {
  background-color: #AA06010D; }
  .contact-container {
    width: 760px;
    padding: 0 15px;
    margin: 0 auto; }
    .contact-container p {
      font-size: 20px; }
  .contact-btn {
    border: none;
    padding: 16px 143px;
    display: block;
    margin: 56px auto 0 auto;
    color: #fff;
    background-color: #AA0601; }
    .contact-btn:hover {
      background-color: #650300; }

.label {
  display: block; }

form {
  margin-top: 20px; }

.input {
  width: 100%;
  padding: 13px 16px; }

.textarea {
  height: 136px; }

@media (max-width: 992px) {
  .contact {
    padding: 40px 0 56px; }
    .contact-container {
      width: 480px; }
      .contact-container p {
        font-size: 16px; }
    .contact-title {
      font-size: 32px; }
    .contact-btn {
      font-size: 14px;
      padding: 10px 77px;
      margin-top: 20px; }
  .label, .check-label {
    margin-top: 8px;
    font-size: 14px; }
  .form {
    margin-top: 16px; }
  .input {
    padding: 8px 12px; }
  .check-box {
    margin: 0; } }

@media (max-width: 767px) {
  .contact {
    padding: 32px 0 40px; }
    .contact-container {
      width: 375px; }
    .contact-title {
      font-size: 20px;
      margin-bottom: 20px; }
    .contact-btn {
      padding: 8px 55px; }
  .form {
    margin-top: 0; }
  .textarea {
    height: 100px; } }

/*# sourceMappingURL=all.css.map */
